$blue:    #2CA8FF !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #FF3636 !default;
$orange:  #FFB236 !default;
$yellow:  #ffc107 !default;
$green:   #18ce0f !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
