.content {
  padding: 50px;

  .section {
    margin: 40px 0;
  }
}

.footer {
  nav {
      display: inline-block;
      float: left;
  }
  ul li {
    display: inline-block;
  }
  .copyright {
      float: right;
  }
}
