<footer class="footer" data-background-color="black">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="https://learn-together.github.io/">
            Learn Together
          </a>
        </li> |
        <li>
          <a href="https://learn-together.github.io/about-us">
            About Us
          </a>
        </li> |
        <li>
          <a href="https://github.com/learn-together/learn-together.github.io/blob/master/LICENSE">
            MIT License
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      ©
      <script>
      document.write(new Date().getFullYear())
      </script>, Learn Together
    </div>
  </div>
</footer>
